.image {
    width: 90%;
    height: 90%;
    border-radius: 10px;
  }
  .frase {
    color: #ffffff;
    font-size: 15px;   
    letter-spacing: 3px;
  }
  .header{
    color: #9962B3;
    font-size: 30px;
    letter-spacing: 3px;
  }
  .button {
    width: 100px;
  }
  .aside{
    background-color: #70cca0;
  }
  .label{
    color:  #9962B3;
   font-weight: bolder;
  }
  .span{
    font-size: 14px;
  }
  
